
<main id="el-dom-app" [ngClass]="{'el-menu-opened': isOpened}">
  <header id="el-header-app">
    <h1>{{ (this.schoolSelectionService.schoolSelected | async)?.name || 'kelasi' }}</h1>
  </header>
  <mat-drawer-container class="example-container" [hasBackdrop]="false">
    <mat-drawer #drawer mode="side" [opened]="true">
      <div class="el-menu-list">
        <a class="el-menu-item" mat-button routerLink="/dashboard" routerLinkActive="is-active"> <fa-icon [icon]="faThLarge"></fa-icon> Tableau de bord </a>
        <a class="el-menu-item" mat-button routerLink="/classe" routerLinkActive="is-active"><fa-icon [icon]="faHome"></fa-icon> Classes</a>
        <!-- <a class="el-menu-item" mat-button routerLink="/course" routerLinkActive="is-active"><fa-icon [icon]="faFileAlt"></fa-icon> Matières</a> -->
        <a class="el-menu-item" mat-button routerLink="/teacher" routerLinkActive="is-active"><fa-icon [icon]="faChalkboardTeacher"></fa-icon> Professeurs</a>
        <a class="el-menu-item" mat-button routerLink="/student" routerLinkActive="is-active"><fa-icon [icon]="faUserGraduate"></fa-icon> Apprenants</a>
        <a class="el-menu-item" mat-button routerLink="/marksheet" routerLinkActive="is-active"><fa-icon [icon]="faBriefcase"></fa-icon> Notes</a>
        <a *ngIf="user === null"class="el-menu-item" mat-button routerLink="/login" routerLinkActive="is-active"><fa-icon [icon]="faSignIn"></fa-icon> Se connecter</a>
        <a *ngIf="user !== null" class="el-menu-item" mat-button (click)="onLogOut()"><fa-icon [icon]="faSignOut"></fa-icon> Se déconnecter</a>
      </div>
    </mat-drawer>
    <mat-drawer-content>
      <div id="el-main-page">
        <header id="el-titre-page">
          <button class="el-center-box" (click)="onToggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <h2>Titre de la page</h2>
        </header>
        <!-- <div class="loader-container" *ngIf="loaderService.isLoading | async">
          <mat-spinner></mat-spinner>
        </div> -->
        <main id="el-main-content">
          <router-outlet></router-outlet>
        </main>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</main>